html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.menu{
    background:  #fff;
    color:  white;
}
.menu a{
    color: white;
}
.menu a:hover{
    font-size: 16px;
}

.title{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 100;
    position: absolute;
    left: 30%;
    top: 36%;
    padding: 20px;
    height: 25vh;
    width: 40%;
    color:  #F8F9FA;
    text-align:  center;
}
.frame1{
    z-index: -1;
}

.title h1 {
    font-size: 70px;
}

.menu{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    height: 70px;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 90%;
    overflow: hidden;
}
.menu a {
    flex: 1;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    transition: .2s ease-in-out all;
    font-weight: 500;
}

.link2:hover{
    background: #140152;
    color: white;
    transition: .9s;
    font-size: 19px;
}
.link3:hover{
    background: #22007C;
    color: white;
    transition: .9s; font-size: 19px;
}
.link4:hover{
    background: #0D00A4;
    color: white;
    transition: .9s; font-size: 19px;
}

.menu .indicador {
    width: 0px;
    height: 7px;
    background: white;
    position: absolute;
    bottom: 0;
    transition: .3s ease-out all;
    transform: translate(-500px); 
}

.seccion {
    min-height: 110vh;
    max-width: 850px;
    width: 90%;
    margin-top: 200px; 
    padding-top: 120px;
    margin-left:  auto; margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.seccion .card {
    background: #fff;
    height: 90%;
    padding: 40px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.seccion h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.seccion p {
    line-height: 38px;
    margin-bottom: 40px;
    color: #494949;
    font-size: 15px; line-height:  22px;
}

.seccion img {
    width: 100%;
    vertical-align: top;
    margin-bottom: 20px;
}
.secciones{
    background: #1E222D;
}


@media screen and (max-width: 800px) {
    menu a {
        font-size: 14px;
        padding: 5px;
    }
}

@media screen and (max-width: 450px) {
    menu a {
        font-size: 12px;
    }
}

.logobarra{
    width: 33px;
    height:33px;
    padding: 0;
    margin: 0;
}
.card dos{
    display: table;
    align-items:  flex-end;
}

.imagenKepler{
    width: 40%;
    height: 30%;
}